<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>../Corona/crate.png</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/crate.png</string>
		</dict>
		<key>../Corona/ground.png</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/ground.png</string>
		</dict>
		<key>../Corona/sky.png</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/sky.png</string>
		</dict>
		<key>../Corona/config.lua</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/config.lua</string>
		</dict>
		<key>../Corona/main.lua</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/main.lua</string>
		</dict>
		<key>Info.plist:UIStatusBarHidden</key>
		<string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;
&lt;true/&gt;
</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single fullscreen CoronaView. It uses an instance of CoronaViewController as the root controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.coronalabs.coronacards.singleViewApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIStatusBarHidden</string>
		<string>../Corona/crate.png</string>
		<string>../Corona/ground.png</string>
		<string>../Corona/sky.png</string>
		<string>../Corona/config.lua</string>
		<string>../Corona/main.lua</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>ViewController.h</key>
						<dict>
							<key>Path</key>
							<string>ViewController.h</string>
						</dict>
						<key>ViewController.mm</key>
						<dict>
							<key>Path</key>
							<string>ViewController.mm</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h</string>
						<string>ViewController.mm</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>ViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>ViewController.swift</string>
						</dict>
						<key>../Swift-Interoperability/CPlusPlusLinkage.cpp</key>
						<dict>
							<key>Group</key>
							<string>Swift-Interoperability</string>
							<key>Path</key>
							<string>Swift-Interoperability/CPlusPlusLinkage.cpp</string>
						</dict>
						<key>../Swift-Interoperability/CoronaCards-Bridging-Header.h</key>
						<dict>
							<key>Group</key>
							<string>Swift-Interoperability</string>
							<key>Path</key>
							<string>Swift-Interoperability/CoronaCards-Bridging-Header.h</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift</string>
						<string>../Swift-Interoperability/CPlusPlusLinkage.cpp</string>
						<string>../Swift-Interoperability/CoronaCards-Bridging-Header.h</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>SWIFT_OBJC_BRIDGING_HEADER</key>
								<string>${SOURCE_ROOT}/Swift-Interoperability/CoronaCards-Bridging-Header.h</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>ENABLE_BITCODE</key>
				<string>NO</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>/Users/Shared/CoronaLabs/ios/</string>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -lobjc -lsqlite3 -weak_framework GameController</string>
				<key>ARCHS</key>
				<string>$(ARCHS_STANDARD)</string>
				<key>CLANG_CXX_LIBRARY</key>
				<string>libstdc++</string>
				<key>STRIP_STYLE</key>
				<string>non-global</string>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>NO</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>CoronaCards</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>CFNetwork</string>
				<string>CoreGraphics</string>
				<string>CoreLocation</string>
				<string>CoreMedia</string>
				<string>CoreMotion</string>
				<string>CoreVideo</string>
				<string>Foundation</string>
				<string>GLKit</string>
				<string>ImageIO</string>
				<string>MediaPlayer</string>
				<string>MobileCoreServices</string>
				<string>OpenAL</string>
				<string>OpenGLES</string>
				<string>QuartzCore</string>
				<string>Security</string>
				<string>SystemConfiguration</string>
				<string>UIKit</string>
			</array>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Copy Corona Resources</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>echo "Copying Corona"
ditto -V "$PROJECT_DIR"/Corona "$TARGET_BUILD_DIR/$EXECUTABLE_FOLDER_PATH"</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
